body {
    background-color: #000;
    color: #03e98f;
    font-family: "IBM Plex Mono", Arial, sans-serif;
}

.footer {    
    font-size: .75rem;
    line-height: 1.625rem;
    min-height: 240px;
    /*margin-top: -240px;*/
    /*padding: 1.75rem 0 2.5rem;*/
    z-index: 1;
    position: relative;
}

.main {
    margin-top: 20px;
    min-height: 500px;
}


.footer a:focus, 
.footer a:hover {
    opacity: .7;
    text-decoration: none;
}
.footer a {
    color: #03e98f;
    opacity: 1;
    transition: opacity .25s;
}